body {
    height: 100vh;
    background-color: #000;
    background-image: url("../../public/pexels-zhangliubin-336302954-18348727.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
a:hover {
    color: blue;
}


