
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #33FF00; /* Neon green */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.terminal {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    width: 80%;
    max-width: 800px;
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

/* Blinking effect */
.blinking-text {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}